@charset "ISO-8859-1";
*{
    margin: 0px;
    padding: 0px;
}

body
{
    background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.7)),url('img/bg.jpg');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.header
{
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.btn {
    display: inline-block;
    position: absolute;
    right: 14px;
    top: 10px;
    margin: 0px;
    padding: 20px;
}

.btn button {
    border: none;
    padding: 8px;
    width: 120px;
    font-size: 1.5em;
    background-color: orange;
    border-radius: 4px;
    transition: 0.5s;
}

.btn button:hover {
    border: 0px solid tomato;
    background-color: rgb(127, 255, 0);
}

nav
{
  display: flex;
  padding: 2% 5%;
  justify-content: space-between;
  align-items: center;
}

.navlinks
{
    text-align: left;
}
.navlinks ul li
{
    list-style: none;
    display: inline-block;
    padding: 1px 20px;
    position: relative;
}
.navlinks a
{
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
    font-family: cursive;
}

 .navlinks ul li::after
{
    content: '';
    width: 0px;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.7s;
} 

.navlinks ul li:hover::after
{
    width:100%;
} 

.txtbx
{
    width: 600px;
    color: white;
    /* border-radius: 15px; */
    position:absolute;
    transform: translate(70%);
    padding: 15px;
    text-align: center;
    justify-content: center;
    background-color:rgb(153,216,144);
    /* box-shadow: 0 0 20px 0px rgba(231, 217, 217, 0.952); */
}



.txtbx h2
{
  color: black;
  font-size: 38px;
  font-weight: 500;
  
}

.txtbx p{
	color: black;
}



.txtbx img
{
    height: 130px;
    margin: 20px;
}

